:root {
    --tag-color-warning: #ffff00;
    --tag-color-danger: #ff0000;
    --tag-color-success: #00ff00;
    --tag-color-milestone: #ff5dcc;
}

.discourse-tag.box {
    border-radius: 999rem;
}

.topic-list .discourse-tags {
    display: none;
}

.inline-topic-tags {
  display: inline-flex;
  gap: 4px;
  margin-left: 0px;
}

.inline-topic-tags .discourse-tag {
  font-size: 0.85em;
  padding: 2px 6px;
}

@media (prefers-color-scheme: dark) {
    .discourse-tag[data-tag-name="status:confirmed"] {
        background: color-mix(in srgb, var(--tag-color-danger) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-danger) 50%, transparent);;
        color: color-mix(in srgb, var(--tag-color-danger) 85%, white);
        order: -1;
    }
    
    .discourse-tag[data-tag-name="status:fixed"],
    .discourse-tag[data-tag-name="status:implemented"] {
        background: color-mix(in srgb, var(--tag-color-success) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-success) 50%, transparent);
        color: var(--tag-color-success);
        order: -1;
    }
    
    .discourse-tag[data-tag-name="status:needs_testing"] {
        background: color-mix(in srgb, var(--tag-color-warning) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-warning) 50%, transparent);
        color: var(--tag-color-warning);
        order: -1;
    }
    
    .discourse-tag[data-tag-name*="milestone:"] {
        background: color-mix(in srgb, var(--tag-color-milestone) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-milestone) 20%, transparent);
        color: var(--tag-color-milestone);
        order: -1;
    }
}

@media (prefers-color-scheme: light) {
    .discourse-tag[data-tag-name="status:confirmed"] {
        background: color-mix(in srgb, var(--tag-color-danger) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-danger) 20%, transparent);;
        color: var(--tag-color-danger);
        order: -1;
    }
    
    .discourse-tag[data-tag-name="status:fixed"],
    .discourse-tag[data-tag-name="status:implemented"] {
        background: color-mix(in srgb, var(--tag-color-success) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-success) 20%, transparent);
        color: color-mix(in srgb, var(--tag-color-success) 50%, black);
        order: -1;
    }
    
    .discourse-tag[data-tag-name="status:needs_testing"] {
        background: color-mix(in srgb, var(--tag-color-warning) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-warning) 20%, transparent);
        color: color-mix(in srgb, var(--tag-color-warning) 50%, black);
        order: -1;
    }
    
    .discourse-tag[data-tag-name*="milestone:"] {
        background: color-mix(in srgb, var(--tag-color-milestone) 20%, transparent);
        border: solid 1px color-mix(in srgb, var(--tag-color-milestone) 20%, transparent);
        color: color-mix(in srgb, var(--tag-color-milestone) 50%, black);
        order: -1;
    }
}
