{{#if topic.tags}}
  <span class="inline-topic-tags">
    {{#each topic.tags as |tag|}}
      <a href="/tag/{{tag.name}}" class="discourse-tag simple">{{tag.name}}</a>
    {{/each}}
  </span>
{{/if}}
